h1 {
	color: black;
	border: 2px solid black;
	font-size: 48px;
	font-style: oblique;
	font-family: "Lucida Console";
}

#bio  {
	color: white;
	background-color: black;
	font-size: 36px;
	font-family: "Lucida Console";
}

ul {
	font-size: 18px;
	font-family: "Lucida Console";
	font-style: oblique;
}

h2 {
	color: blue;
	border:  1px solid red;
	font-size: 18px;
	font-style: oblique;
	font-family: "Lucida Console";
}

.name {
	font-size: 36px;
	font-style: oblique;
	font-family: "Lucida Console";
}

#section {
	font-size: 24px;
	font-style: oblique;
	font-family: "Lucida Console";
}